:root {
    --theme-color: rgba(19, 182, 19, 0.767);
}

.navbar {
    padding: 1% 3% 0 1%;
    position: fixed;
    width: 100%;
}

.logo {
    height: 80%;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    font-size: 30px;
}

.navbar-nav {
    width: 20%;
}

.navbar-nav li a {
    text-decoration: none;
    color: rgb(160, 160, 160);
}

.navbar-nav li a:hover {
    text-decoration: none;
    color: var(--theme-color);
}